<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="leftSection">
    <h3>Tree Menu</h3>
    <ul class="tree-menu">
        <li><a href="/userList">userlist</a></li>
        <li><a href="/profile/mfa">MFA</a></li>
        <li>
            <a href="#">Menu Item 1</a>
            <ul>
                <li><a href="#">Submenu Item 1</a></li>
                <li><a href="#">Submenu Item 2</a></li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
