<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="leftSection">
    <h3>Tree Menu</h3>
    <ul class="tree-menu">
        <li><a href="/userList">userlist</a></li>
        <li><a href="/profile/mfa">MFA</a></li>
        <li>
            <a href="#">JWT</a>
            <ul>
                <li><a href="/jwt/api/token">token</a></li>
                <li><a href="/jwt/api/token/test">token test</a></li>
                <li><a href="/jwt/api/public">public</a></li>
                <li><a href="/jwt/api/token/refresh">token refresh(postman only)</a></li>
                <li><a href="/jwt/api/private">private(postman only)</a></li>
            </ul>
        </li>
        <li>
            <a href="#">API</a>
            <ul>
                <li><a href="/api/emp/list">/api/emp/list(encrypted)</a></li>
                <li><a href="/api/emp/decrypt">/api/emp/decrypt(postman)</a></li>
                <li><a href="/api/emp/encchk">/api/emp/encchk</a></li>
                <li><a href="/api/emp/dectest">/api/emp/dectest</a></li>

            </ul>
        </li>


    </ul>
</div>
</body>
</html>
