<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/header :: headerFragment}"></div>
<link rel="stylesheet" th:href="@{/css/userList.css}" />
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-light sidebar" >
            <div th:replace="~{fragments/left.html :: leftSection}"></div>
        </div>
        <div class="col-md-10">
            <div th:replace="~{fragments/top.html :: topSection}"></div>
            <div class="main">
                <div class="container">
                    <h1>User List</h1>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>UserId</th>
                            <th>Email</th>
                        </tr>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.userid}"></td>
                            <td th:text="${user.email}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footerFragment}"></div>
</body>
</html>


